.git/
.github/
.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
build/
dist/
downloads/
eggs/
.eggs/
config.env
.env
*.session
*.session-journal
*.session-shm
*.session-wal
tests/
*.md
LICENSE
.vscode/
log.text
Thunder/logs/
tdlib_data/
