*.py[cod]
*$py.class
*.so
.venv/
.Python
config.env
log.text
.vscode/
**/__pycache__/
*.session
*.session-journal
*.session-shm
*.session-wal
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg