# Normalize all text files to LF in the repository and working tree.
* text=auto eol=lf

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.docx binary
*.session binary
